*{
    margin: 0;
    padding: 0;
}
.maincontainer{
    width:500px;
    height: 500px;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin-top: 10px;
    background-image: linear-gradient(to right, red , yellow);
    background-color:white;
}
form{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    /* border: 1px solid black; */
    padding-top: 50px;
}
.name{
    margin-top: 10px;
}
.email{
    margin-top: 20px;
}
.message{
    margin-top: 20px;
}
label{
    color: black;
    font-weight: 500;
    font-size: 20px;
}
form input{
    width:400px;
    height:30px;
    background-color: rgb(229, 220, 220);
    border: none;
    border-radius: 5px;
}
textarea{
    width:400px;
    height:100px;
    border-radius: 10px;
    background-color: rgb(229, 220, 220);
}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn button{
    width:200px;
    height: 30px;
    margin-top: 50px;
    font-weight: bold;
    border-radius: 10px;
    padding:5px;
    text-align: center;
    background-color: darkorange;
}
::placeholder{
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
}